.form-avatar {
    float: left;
    height: 120px;
    width: 120px;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    overflow: hidden;

    img {
        height: 120px;
        display: block;
        margin: 0 auto;
    }
}

.flights {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 2rem;

    > * {
        flex: 1;
    }

    /* custom scrollbar */
    ::-webkit-scrollbar {
        width: 17px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #a6adaf;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }
}

// .from,
// .through {
//     font-size: 0.8rem;
//     font-weight: 500;
//     color: rgb(13, 141, 180);
// }

// .airlineCode,
// .flightNumber {
//     font-size: 0.8rem;
//     font-weight: 500;
//     padding-top: 0.3rem;
//     display: inline-block;
//     text-align: center;
//     border-radius: 2px;
//     margin-inline: 1rem;
// }
